@import url('./css-figma-cursors.css');
@font-face { font-family: Vazirmatn; src: url('../assets/Vazir-Variable.ttf'); }
@font-face { font-family: Lalezar; src: url('../assets/Lalezar-Regular.ttf'); }

:root {
  --clr-gray-00: #f8fafb;
  --clr-gray-01: #f2f4f6;
  --clr-gray-05: #b1b6b9;
  --clr-gray-11: #252521;
  --clr-gray-12: #121210;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 70%;
  font-family: Vazirmatn;
  position: relative;
  color: var(--clr-gray-00);
}
body { font-size: 1.5rem; }
h1, h2, h3 { font-family: Lalezar; font-weight: 400; }
[hidden] { display: none !important; }
::selection { background: var(--clr-gray-01); color: var(--clr-gray-11); }
#🎮 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: var(--clr-gray-12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 2rem 3rem;
}
#heading { font-size: 4rem; }
#paragraph { max-width: 40ch; color: var(--clr-gray-05) }
#btn {
  font-family: inherit;
  background: var(--clr-gray-00);
  border: none;
  color: var(--clr-gray-12);
  padding: 1rem 3rem;
  font-weight: bold;
  border-radius: 0.3rem;
  box-shadow: none;
}
#btn:hover { box-shadow: 0.5rem 0.5rem 0 0 var(--clr-gray-05); }
#btn:active { box-shadow: none; transform: translate(0.5rem, 0.5rem); }